.carta-pelicula {
  margin: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.info-pelicula{
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  width: 140px;
  background-color: #14181C;
  color: #8595A3;
  text-align: center;
}
.info-pelicula p:hover{
  color: #40BCF4;
}
.imagen-pelicula {
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.boton-pelicula{
  position: absolute;
  top: 0;
  background-color: #0c0e0eb2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.1s;
}
.boton-pelicula:hover{
  opacity: 1;
}
.boton-pelicula *{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.boton-pelicula button:hover{
  background-color: #262d34;
  cursor: pointer;
}
.titulo-pelicula, .anno-pelicula{
  margin: 5px;
}
.titulo-pelicula{
  cursor: pointer;
}
.imagen-pelicula-padre{
  position: relative;
  width: 140px;
  height: 200px;
  border: 1px solid #8595A3;
  border-radius: 4px;
}