.carta-pelicula {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    padding: 10px 5px;
  }

  .carta-pelicula:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .imagen-pelicula {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .info-pelicula {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 5px 0;
  }

  .info-pelicula .detalle-pelicula button{
    background-color: #f1c40f !important;
    cursor: pointer;
    transition: 0.5s all;
    border: none;
    outline: none;
    padding: 10px 10px;
    background: transparent;
    border-radius: 5px;
    transition: .3s all;
    margin: 0 auto;
  }

  .info-pelicula .detalle-pelicula button:hover{
    color: #f1c40f;
    background-color: white !important;
  }