table{
  color: #8595A3;
  width: 100%;
}
tr{
  display: flex;
}
td, th{
  width: 50%;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #2b323a;
}
#castYReviews{
  background-color: #1e2329;
}
#botonesCastYReviews{
  display: flex;
  justify-content: left;
  background-color: #191d22;
}
#botonesCastYReviews button{
  padding: 15px;
  border: 0;
}
#boton-cast-detalle{
  color: #40BCF4;
  background-color: #1e2329;
}
#boton-reviews-detalle{
  color: #48525e;
  background-color: #191d22;
}
#castDetalle{
  margin: 10px;
}
#reviewsDetalle{
  display: none;
}
#subReviewsDetalle{
  margin: 15px;
  display: flex;
  color: #8595A3;
}
#opcionesReviews{
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #8595A3;
  margin: 10px;
}
#opcionesReviews button{
  width: 90%;
  margin: 2px;
  color: #8595A3;
  text-align: left;
  background-color: #1e2329;
  border: 0;
  transition: 0.2s;
  padding-left: 10px;
}
#opcionesReviews p{
  margin: 2px;
  color: #40BCF4;
  font-weight: bold;
}
#opcionesReviews button:hover{
  color: #40BCF4;
  background-color: #363f49;
  padding: 7px;
  padding-left: 10px;
}
#resenas{
  margin: 10px;
  width: 100%;
}
#resena-form{
  display: none;
  background: rgba(51, 51, 51, 0.39);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
#resena-form-hijo{
  background-color: #363f49;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
  color: aliceblue;
  display: flex;
}
#poster-comentario{
  width: 150px;
  margin-right: 40px;
  box-shadow: 0px 0px 10px 2px #1e2329;
  border: 1px solid #8595A3;
  border-radius: 4px;
}
#estrellas{
  font-size: 30px;
  display: flex;
  color: #48525e;
}
.cruzCalificacion{
  font-size: 20px;
  color: aliceblue;
}
.cruzCalificacion:hover{
  color: rgb(255, 95, 95);
  cursor: pointer;
}
#comentario{
  width: 300px;
  border-radius: 5px;
  max-height: 200px;
  border: 1px solid #627181;
  outline: 0;
  background-color: #8595A3;
  border-top: 2px solid #4d5968;
  transition: 0.5s;
  margin-top: 20px;
}
#comentario:focus{
  background-color: aliceblue;
}
#comentario::placeholder{
  color: rgb(66, 71, 80);
}
#comentario-acciones{
  display: flex;
  justify-content: space-between;
}
#comentario-acciones button{
  border: 0;
  border-bottom: 1px solid #363f49;
  padding: 3px;
  background-color: #363f49;  
  color: aliceblue;
  transition: 0.1s;
}
#cancelarReview:hover{
  color: rgb(255, 72, 0);
  border-bottom: 1px solid rgb(255, 72, 0);
}
#enviarReview:hover{
  color: lime;
  border-bottom: 1px solid lime;
}
.detalle-pelicula{
  display: flex;
}
.poster-detalle{
  border-radius: 4px;
  margin: 20px;
  margin-top: 10px;
  width: 320px;
}
.poster-detalle img{
  border: 1px solid #8595A3;
  border-radius: 4px;
  width: 320px;
}
.detalle-completo-pelicula{
  margin: 20px;
  color: aliceblue;
}
#svgimdb{
  width: 50px;
  margin-left: 20px;
}
.genere{
  font-style: italic;
  color: #8595A3;
}
#sinopsis-detalle{
  color: #8595A3;
}
.separador{
  color: #40BCF4;
  font-weight: bolder;
  margin-left: 4px;
  margin-right: 4px;
}
#boton-calificar{
  background-color: #40BCF4;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 2px;
  border: 3px solid #40BCF4;
  border-bottom: 3px solid #277294;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
#boton-calificar:hover{
  border: 3px solid #40BCF4;
  box-shadow: 0px 0px 5px 1px #277294;
}
.nombre-usuario-review-detalle{
  color: aliceblue;
}
.nombre-usuario-review-detalle:hover{
  color: #40BCF4;
  cursor: pointer;
}
.fecha-review-detalle{
  font-style: italic;
  margin-left: 10px;
}
.divReview{
  display: flex;
  margin: 10px;
  border-bottom: 1px solid #8595A3;
  padding-bottom: 15px;
  width: 100%;
}
.nota-comentario-detalle{
  color: #40BCF4;
  font-weight: bolder;
}
.contenido-review-detalle{
  margin-top: 5px;
  margin-bottom: 5px;
}
#numero-reviews{
  font-weight: bold;
  color: aliceblue;
}
#titulo-reviews-h3{
  border: 1px solid #277294;
  padding: 15px;
  border-radius: 10px;
}
#grafico-detalle{
  margin-top: 50px;
  width: 550px;
  height: 200px;
  display: flex;
  padding: 20px;
  background-color: #2771945b;
  border: 0px;
  border-top: 1px solid #277294;
}
#datos-puntuacion-grafico{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#puntuacion-general-detalle{
  font-size: 20px;
  font-weight: bold;
}
#span-nota-media{
  font-size: 30px;
  color: #40BCF4;
}
#boton-ver-mas{
  color: aliceblue;
  background-color: #2771945b;
  border: 1px solid #40BCF4;
  padding: 5px;
}
#boton-eliminar-detalle{
  color: rgb(255, 60, 0);
  background-color: #1E2329;
  border: 0;
  border-bottom: 1px solid #1E2329;
  transition: 0.3s;
}
#boton-eliminar-detalle:hover{
  border-bottom: 1px solid rgb(255, 60, 0);
}
