table{
  color: #8595A3;
  width: 100%;
}
tr{
  display: flex;
}
td, th{
  width: 50%;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #2b323a;
}
#castYReviews{
  background-color: #1e2329;
}
#botonesCastYReviews{
  border: 2px solid red;
  display: flex;
  justify-content: left;
}
#castDetalle{
  margin: 10px;
}
#reviewsDetalle{
  display: none;
}
#subReviewsDetalle{
  margin: 15px;
  display: flex;
  color: #8595A3;
}
#opcionesReviews{
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #8595A3;
  margin: 10px;
}
#opcionesReviews button{
  width: 90%;
  margin: 2px;
  color: #8595A3;
  text-align: left;
  background-color: #1e2329;
  border: 0;
  transition: 0.2s;
  padding-left: 10px;
}
#opcionesReviews p{
  margin: 2px;
  color: #40BCF4;
  font-weight: bold;
}
#opcionesReviews button:hover{
  color: #40BCF4;
  background-color: #363f49;
  padding: 7px;
  padding-left: 10px;
}
#resenas{
  margin: 10px;
}