
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.breadcrumb{
  color: #8595A3;
  width: 1000px;
  text-align: left;
  margin: auto;
  margin-bottom: 20px;
}
.link-breadcrumb{
  color: #40BCF4;
}
.link-breadcrumb:hover{
  color: #3790b9;
}
.separador-breadcrumb{
  margin-left: 5px;
  margin-right: 5px;
}
#titulo-inicio, .info-review-populares-titulo, .detalle-completo-pelicula h2, .titulo-carta-buscador, .nombreListaNormal h5, #tituloDivListasNormales, .review-info h3, .perfil-avatar h2, .puntuacion-general, .posicion-top{
  font-family: 'Lora', serif;
}
.container-peliculas {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#boton-ver-mas-pelis {
  color: aliceblue;
  background-color: #2771945b;
  border: 1px solid #40BCF4;
  padding: 10px;
  width: 100%;
  height: 60px;
  font-size: 18px;
}


.peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0px;
}


.filters {
  margin: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.select-filtro {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

#ultimo-select {
  border: 0;
}

select {
  width: 99%;
  padding: 5px;
  background-color: #262d34;
  color: #8595A3;
  border: 0;
}

.select-filtro button {
  width: 100%;
  padding: 5px;
  background-color: #40BCF4;
  color: white;
  border: 0;
}

select:focus {
  outline: 0;
}

#noPelis {
  color: #8595A3;
  text-align: center;
  margin-top: 100px;
}

.filtros-fixed {
  display: flex;
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  background-color: #262d34;
  border-radius: 3px;
  border: 1px solid #40BCF4;
}

#ultimo-boton {
  opacity: 0;
  transition: 0.5s;
  position: fixed;
  bottom: 20px;
  right: 20px;

}

#ultimo-boton button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #40BCF4;
}

#ultimo-boton button:hover {
  background-color: #38a5d8;
}
/* estilos para movil */
@media (max-width: 767px) {
  .container-peliculas{
    width: 90%;
    margin-top: 160px;
  }
  .filtros-fixed {
    flex-direction: column;
    width: 350px;
    border: 0;
  }
  .select-filtro{
    padding: 3px;
  }
  .peliculas{
    width: 350px;
  }
  #boton-ver-mas-pelis{
    width: 350px;
  }
  .breadcrumb{
    width: 350px;
  }
}