body{
  padding: 0;
  margin: 0;
}
.container-peliculas{
  padding: 30px;
  display: flex;
  justify-content: center;

}
.peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px;
    width: 60%;
}


.filters {
  margin: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.select-filtro{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
#ultimo-select{
  border: 0;
}
select{
  width: 100%;
  padding: 5px;
  background-color: #262d34;
  color: #8595A3;
  border: 0;
}
.select-filtro button{
  width: 100%;
  padding: 5px;
  background-color: #40BCF4;
  color: white;
  border: 0;
}
select:focus{
  outline: 0;
}

#noPelis{
  color: #8595A3;
  text-align: center;
  margin-top: 100px;
}

.spinner{
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.filtros-fixed{
  position: fixed;
  left: 75%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 400px;
}
#ultimo-boton{
  opacity: 0;
  transition: 0.5s;
  
}
#ultimo-boton button{
  background-image: radial-gradient(closest-side at center, #92ddff71, #92ddff71, #76ccf471, #3fc2ff70,#40bbf470);
  border-radius: 4px;
}