body{
  padding: 0;
  margin: 0;
}
.container-peliculas{
  padding: 30px;
  display: flex;
  justify-content: center;

}
.peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px;
    width: 60%;
}


.filters {
  margin: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.select-filtro{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  border-bottom: 1px solid #8595A3;
}
#ultimo-select{
  border: 0;
}
select{
  width: 100%;
  padding: 5px;
  background-color: #262d34;
  color: #8595A3;
  border: 0;
}

select:focus{
  outline: 0;
}

#noPelis{
  color: #8595A3;
  text-align: center;
  margin-top: 100px;
}

.spinner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
  