.carta-login {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #1E2329;
    border-radius: 5px;
    background-color: #1E2329;
}

.carta-login h1 {
    text-align: center;
}

.carta-login label {
    display: block;
    margin-bottom: 5px;
    color: aliceblue;
}

.carta-login input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    outline: 0;
    background-color: #57626e;
    border: 0;
    border-bottom: 2px solid #1E2329;
    transition: 0.1s;
    border-radius: 2px;
}

.carta-login input:focus {
    background-color: #E8F0FE;
    border-bottom: 2px solid #40BCF4;
}

.carta-login .error {
    border: 1px solid red;
    /* Estilo para resaltar el campo de error */
}

.carta-login button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #40BCF4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carta-login p {
    text-align: center;
    color: aliceblue;
}

.tab-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-item {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
}

.tab-item.selected {
    border-bottom: 1px solid #40BCF4;
}

.link {
    cursor: pointer;
}