.perfil-container {
    width: 1000px;
    margin: auto;
}

.perfil-header {
    display: flex;
    justify-content: space-between;

    background-color: #14181C;
}

.perfil-avatar {
    width: 70%;
}

.perfil-avatar h2 {
    font-weight: 900;
    color: #fff6f6;
}

.perfil-avatar h5 {
    font-style: italic;
    color: #8595A3;
}

.perfil-info {
    width: 30%;
}

.seg {
    margin-top: 10px;
    width: 100%;
}

.seg tr {
    border: 3px solid #14181C;
    display: flex;
    justify-content: space-between;
    color: #8595A3;
    background-color: #14181C;
    border: 0;
    border-bottom: 1px solid #14181C;
}

.seg tr td {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.seg tr:hover {
    background-color: #262d34;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #40BCF4;
}

.opciones-perfil {
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #14181C;
    border: 1px solid #8595A3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.opciones-perfil button {
    padding: 10px;
    border: 0;
    color: #8595A3;
    background-color: #14181C;
    border-top: 2px solid #14181C;
    border-bottom: 2px solid #14181C;
}

.modal {
    position: fixed;
    z-index: 150;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#divBotonesLista {
    display: flex;
}

.modal-content {
    background-color: #363f49;
    padding: 20px;
    border-radius: 5px;
    width: 400px;

}

.modal-content label {
    color: aliceblue;
    font-weight: bold;
}

.modal-content input {
    margin-top: 6px;
    width: 100%;
    background-color: #262d34;
    border: 1px solid #262d34;
    outline: 0;
    border-bottom: 1px solid #40BCF4;
    color: #fff6f6;
    padding: 3px;
    border-radius: 4px;
}

.modal-content input:focus {
    border-bottom: 2px solid #40BCF4;
}

.modal-content select {
    margin-bottom: 20px;
}

.modal-content button {
    color: lime;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #363f49;
    background-color: #4f5a68;
    border-radius: 4px;
    width: 100%;
}

.modal-content button:hover {
    background-color: #444d58;
}

.opciones-perfil button:hover {
    color: #40BCF4;
}

#botonLikes {
    background-color: #262d34;
    border-top: 2px solid #262d34;
    border-bottom: 2px solid #40BCF4;
    color: #40BCF4;
}

.listas-normales {
    display: none;
}

.bloqueReseñas {
    display: none;
}

.lista-likes-hijo {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px;
}

#btnIrAPeliculas {
    width: 50%;
    margin-top: 15px;
    padding: 5px;
    border: 3px solid #40BCF4;
    color: aliceblue;
    font-weight: bold;
    background-color: #40BCF4;
    border-radius: 5px;
  }

  #btnIrAPeliculas:hover{
    background-color: #1b8bbe;
  }

.listas-likes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.divPeliListaLike,
.imagenLista {
    width: 140px;
    height: 190px;
    margin: 15px;
    border: 1px solid #8595A3;
    border-radius: 4px;
    transition: 10ms;
}

.divPeliListaLike:hover,
.imagenLista:hover {
    border: 3px solid #40BCF4;
    cursor: pointer;
}

.divPeliListaLike img {
    width: 100%;
    height: 100%;
}

.perfil-review {
    display: flex;
    border-bottom: 1px solid #8595A3;
    padding: 20px;
    background-color: #14181C;
}

.perfil-review img {
    cursor: pointer;
    border: 1px solid #8595A3;
    width: 150px;
    height: 200px;
    border-radius: 4px;
}

.review-info {
    margin-left: 20px;
}

.review-info h3 {
    color: #fff6f6;
    font-weight: bold;
}

.perfil-review-contenido {
    color: #8595A3;
}

.perfil-review-fecha {
    color: #8595A3;
    font-style: italic;
}

.review-info h3:hover {
    color: #40BCF4;
    cursor: pointer;
}

.perfil-review-rating {
    background-color: #262d34;
    width: 110px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #40BCF4;
    border: 1px solid #40BCF4;
}

.lista-normal {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #8595A3;
}

.divPeliListaNormal img {
    width: 150px;
    height: 200px;
    border: 1px solid #8595A3;
    border-radius: 4px;
}

.nombreListaNormal {
    color: #fff6f6;
    margin: 20px;
}

.nombreListaNormal h5:hover {
    color: #40BCF4;
    cursor: pointer;
}

.nombreListaNormal p {
    color: #8595A3;
    font-style: italic;
}

#infoListasNormales {
    position: fixed;
    background-color: rgba(34, 34, 34, 0.774);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
}

#infoListasNormalesHijo {
    width: 800px;
    height: 500px;
    background-color: #262d34;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    display: flex;
    flex-direction: column;
    border: 1px solid #8595A3;
    color: #fff6f6;
}

#infoListasNormalesHeader {
    height: 10%;
    background-color: #262d34;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8595A3;

}

#tituloDivListasNormales {
    font-weight: bold;
}

#infoListasNormalesCuerpo {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#tituloDivListasNormales {
    width: 95%;
}

#cruzDivListasNormales {
    padding: 2px;
    width: 5%;
    text-align: center;
    border-radius: 4px;
}

#cruzDivListasNormales:hover {
    background-color: rgba(243, 57, 57, 0.589);
    cursor: pointer;
}

.imagenLista img {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar,
#infoListasNormalesCuerpo::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track,
#infoListasNormalesCuerpo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
#infoListasNormalesCuerpo::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#boton-crear-lista {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    border: 3px solid #40BCF4;
    color: aliceblue;
    font-weight: bold;
    background-color: #40BCF4;
    border-radius: 5px;
}

.eliminar-lista {
    color: rgb(255, 72, 0);
    background-color: #14181C;
    border: 0;
    border-bottom: 1px solid #14181C;
    margin-right: 15px;
    transition: 0.2s;
}

.editar-lista {
    color: rgb(159, 46, 252);
    background-color: #14181C;
    border: 0;
    border-bottom: 1px solid #14181C;
    margin-right: 15px;
    transition: 0.2s;
}

.editar-lista:hover {
    border-bottom: 1px solid rgb(159, 46, 252);
}

.eliminar-lista:hover {
    border-bottom: 1px solid rgb(255, 72, 0);
}

#btnSeleccionarPelis {
    background: none;
    border: none;
    padding-right: 5px;
    margin-right: 5px;
    padding-left: 3px;
    color: #40BCF4;
    border-radius: 3px;
}

#btnSeleccionarPelis:hover {
    background-color: #6c707260;
}

#btnAgregarPelis,
#btnEliminarPelis {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
}

.btnDesactivado {
    background-color: #6c707260;
    cursor: not-allowed;
}

.btnActivadoAgregar {
    cursor: pointer;
    color: aliceblue;
    background-color: #40BCF4;
}

.btnActivadoAgregar:hover {
    background-color: #0f91ce;
}

.btnActivadoEliminar {
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(255, 72, 0);
}

.btnActivadoEliminar:hover {
    background-color: rgb(194, 55, 0);
}

.seleccionado {
    color: aliceblue !important;
    background-color: #40BCF4 !important;
    border: 1px solid #1188be !important;
}

.seleccionado:hover {
    background-color: rgb(7, 115, 165) !important;
}