.carousel-central{
    display: flex;
    justify-content: space-around;
}
.carousel-central img{
    width: 800px;
    height: 430px;
    border: 1px solid #8595A3;
    border-radius: 3px;
}
.carousel-titulo{
    margin-top: 20px;
    text-align: center;
    color: aliceblue;
}
.carousel-contenido{
    text-align: center;
    color: #8595A3;
    font-weight: lighter;
    font-style: italic;
}
.carousel-button{
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: #40BCF4;
    margin: auto;
}
.carousel-button:hover{
    background-color: #282f36;
    color: #40BCF4;
}
/* estilos para movil */
@media (max-width: 1050px) {
    .carousel-central img{
        width: 740px;
        height: 300px;
    }
  }
/* estilos para movil */
@media (max-width: 767px) {
    .carousel-central img{
        width: 350px;
        height: 200px;
    }
  }