#divPersonasCercanas, #divUsuariosPopulares, #divUltimasReviews, #divTopLikes, #divTopValoracion{
    color: aliceblue;
}
#central-inicio{
    width: 1000px;
    margin: auto;
}
#titulo-inicio{
    color: aliceblue;
    margin-bottom: 0;

}
#divPersonasCercanas{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}
.titular-inicio{
    margin-top: 50px;
    border-bottom: 1px solid #8595A3;
    color: #8595A3;
}
.usuarios-conocidos-inicio{
    margin: 0;
    text-align: center;
}
.cuerpo-top-likes, .cuerpo-top-valoracion{
    display: flex;
    flex-direction: column;
}
.imagen-top{
    width: 180px;
    height: 260px;
    margin-bottom: 8px;
    border: 1px solid #8595A3;
    border-radius: 3px;
}
.cuerpo-top-likes span, .cuerpo-top-valoracion span{
    text-align: center;
}
#divTopLikes, #divTopValoracion{
    display: flex;
    justify-content: space-between;
}
.posicion-top{
    background-color: #282f36;
    padding-left: 7px;
    padding-right: 7px;
    margin: auto;
    border-radius: 50px;
    font-weight: bold;
    color: #40BCF4;
}
#subtitulo-inicio, #titulo-inicio{
    margin-left: 30px;
}
#subtitulo-inicio{
    margin-top: 0;
    margin-bottom: 30px;
    color: #8595A3;
    font-weight: lighter;
}
#titulares-coincidentes{
    display: flex;
    justify-content: space-between;
}
.titular-populares{
    width: 28%;
}
.titular-cercanas{
    width: 70%;
}
.puntuacion-general{
    background-image: linear-gradient(#051922e0, #051922c0, #051922a9,#0c314242, #0c314209);
    position: absolute;
    width: 100%;
    left: 0;
    font-weight: bolder;
}
.padre-foto-tops{
    position: relative;
}