body{
    background-color: #14181C;
}
#div-buscador{
    display: flex;
    justify-content: center;
}
#buscador{
    width: 1000px;
    border: none;
    border: 2px solid #14181C;
    border-bottom: 2px solid #8595A3;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #14181C;
    font-size: 20px;
    color: #8595A3;
    transition: 0.3s;
    
}
#buscador:focus{
    outline: none;
    border: 2px solid #8595A3;
    border-radius: 2px;
}
#noPelis{
    color: #8595A3;
    text-align: center;
    margin: 0 !important;
}
#lupa{
    color: #8595A3;
    font-size: 200px;
}
.pagination{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.botonPaginacion{
    color: #8595A3;
    background-color: #14181C;
    border: 0;
    padding: 10px;
}
.botonPaginacion:hover{
    background-color: #262d34;
    cursor: pointer;
}
#paginaActual{
    padding: 10px;
    color: #8595A3;
    
}
#noPelis p{
    color: #8595A3;
    font-style: italic;
    font-size: 31px;
}
.carta-usuario-buscador{
    display: flex;
    border-bottom: 1px solid #8595A3;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.imagen-usuario-buscador{
    width: 100px !important; 
    border-radius: 50% !important;
}
.nombre-carta-buscador{
    margin: 0 !important;
    padding: 0 !important;
}
.nombre-carta-buscador:hover{
    color: #40BCF4;
    cursor: pointer;
}
.info-usuario-buscador{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-usuario-buscador{
    margin: 0;
}
#divCentralSearch{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
}
#divBotonesSearch{
    width: 40%;
    display: flex;
    flex-direction: column;    
    padding: 10px;
}
#divBotonesSearch button{
    width: 100%;
    margin: 3px;
    text-align: left;
    padding: 5px;
    background: #14181C;
    color: #8595A3;
    border: 1px solid #14181C;
    border-radius: 2px;
    transition: 0.2s;
}
#divBotonesSearch button:hover{
    color: #40BCF4;
}
#select-tipo-buscador{
    display: none;
}
/* estilos para movil */
@media (max-width: 767px) {
    #buscador{
        width: 350px;
    }
    #divCentralSearch{
        width: 350px;
        flex-direction: column-reverse;
    }
    #divBotonesSearch{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    #divBotonesSearch button{
        text-align: center;
    }
    .pagination{
        width: 350px;
    }
  }