#separador-header{
  height: 70px;
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #12181d;
    margin-bottom: 25px;
    z-index: 100;
    box-shadow: 0px 2px 10px 2px #12181d;
  }
  
  .menu-left img {
    height: 80px;
  }
  
  .menu-middle ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-middle li {
    margin-right: 20px;
  }
  
  .menu-middle li:last-child {
    margin-right: 0;
  }
  
  .menu-middle a {
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .menu-middle a:hover {
    color: #40BCF4;
  }
  
  .menu-right input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color: #8595A3;
    border-bottom: 2px solid #aabac9;

  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 180px;
    background-color: #8595A3;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .dropdown-content a {
    display: block;
    background-color: #8595A3;
    color: #14181C;
    text-decoration: none;
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 2px;

  }
  
  .dropdown-content a:hover {
    background-color: #5c666d;
    color: aliceblue;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #react-burger-menu-btn{
    background-color: red;
  }
  #menu-burger{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #1d2227;
    top: 60px;
    left: -200px;
    transition: 0.2s ease-in-out;
  }
  .menu-right button{
    background-color: transparent;
    border: 0;
    margin-right: 20px;
  }
  #burger-icono{
    color: aliceblue;
    font-size: 18px;
  }
  #menu-burger ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
  #menu-burger li{
    padding: 4px;
    padding-left: 20px;
  }
  #menu-burger a{
    text-decoration: none;
    color: aliceblue;
  }
  #menu-burger li:hover{
    background-color: #5c666d;
  }