nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }
  
  .menu-left img {
    height: 40px;
  }
  
  .menu-middle ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-middle li {
    margin-right: 20px;
  }
  
  .menu-middle li:last-child {
    margin-right: 0;
  }
  
  .menu-middle a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .menu-middle a:hover {
    color: #007bff;
  }
  
  .menu-right input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
<<<<<<< HEAD
=======
    width: 180px;
>>>>>>> search
  }
  
  .dropdown-content a {
    display: block;
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 20px;
>>>>>>> search
    background-color: #f9f9f9;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
<<<<<<< HEAD

  .topDropdown{
    border-radius: 5px, 5px, 0px, 0px;
  }

  .bottomDropdown{
    border-radius: 0px, 0px, 5px, 5px;
=======
  
  .topDropdown{
    border-radius: 5px 5px 0px 0px;
  }

  .bottomDropdown{
    border-radius: 0px 0px 5px 5px;
>>>>>>> search
  }